@font-face {
  font-family: Syne;
  font-display: swap;
  src: url("/src/assets/fonts/Syne-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Syne;
  font-display: swap;
  src: url("/src/assets/fonts/Syne-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Syne;
  font-display: swap;
  src: url("/src/assets/fonts/Syne-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Syne;
  font-display: swap;
  src: url("/src/assets/fonts/Syne-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Syne;
  font-display: swap;
  src: url("/src/assets/fonts/Syne-ExtraBold.ttf") format("TrueType");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("/src/assets/fonts/Lato-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}
