.accordion {
  &__item {
	border-bottom: mobile(1) solid var(--g-10);
	
	padding: mobile(20) 0;
	
	&--active {
	  .accordion__icon {
		svg {
		  opacity: 0.3;
		  transform: rotate(180deg);
		  
		  g {
			opacity: 1;
			
			path:nth-child(2) {
			  display: none;
			}
		  }
		}
	  }
	  
	  .accordion__content {
		display: block;
	  }
	}
  }
  
  &__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	gap: mobile(20);
  }
  
  &__title {
	@include text-semi-bold;
	font-size: mobile(18);
	line-height: mobile(24);
	letter-spacing: mobile(0.5);
  }
  
  &__icon {
	transition: all 300ms;
	
	svg, g {
	  transition: all 300ms;
	}
	
	svg {
	  width: mobile(24);
	  height: mobile(24);
	}
  }
  
  &__content {
	display: none;
	margin-top: mobile(24);
  }
}

@media screen and (min-width: $desktop_media) {
  .accordion {
	&__header {
	  gap: tablet(20);
	}
	
	&__item {
	  border-width: tablet(1);
	  
	  padding: tablet(32) 0;
	}
	
	&__title {
	  @include text-semi-bold;
	  font-size: tablet(30);
	  line-height: tablet(36);
	  letter-spacing: normal;
	}
	
	&__icon {
	  svg {
		width: tablet(24);
		height: tablet(24);
	  }
	}
	
	&__content {
	  margin-top: tablet(24);
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .accordion {
	&__header {
	  gap: desktop(20);
	}
	
	&__item {
	  border-width: desktop(1);
	  
	  padding: desktop(32) 0;
	}
	
	&__title {
	  font-size: desktop(30);
	  line-height: desktop(36);
	}
	
	&__icon {
	  svg {
		width: desktop(24);
		height: desktop(24);
	  }
	}
	
	&__content {
	  margin-top: desktop(24);
	}
  }
}

.product-item__accordion {
  .accordion__item {
	padding: mobile(16) 0;
  }
  
  .accordion__title {
	@include m-24-mb;
  }
  
  .accordion__content {
	margin-top: mobile(16);
  }
  
  @media screen and (min-width: $desktop_media) {
	.accordion__item {
	  padding: tablet(32) 0;
	}
	
	.accordion__title {
	  @include m-24-tb;
	}
	
	.accordion__content {
	  margin-top: tablet(32);
	}
  }
  
  @media screen and (min-width: $desktop_media_static) {
	.accordion__item {
	  padding: desktop(32) 0;
	}
	
	.accordion__title {
	  @include m-24-dp;
	}
	
	.accordion__content {
	  margin-top: desktop(32);
	}
  }
}

.addresses__accordion {
  .accordion__item {
	padding: mobile(20) 0;
  }
  
  .accordion__title {
	@include mobile-h3;
  }
  
  .accordion__content {
	margin-top: mobile(24);
  }
  
  @media screen and (min-width: $desktop_media) {
	.accordion__item {
	  padding: tablet(32) 0;
	}
	
	.accordion__title {
	  @include text-semi-bold;
	  font-size: tablet(30);
	  line-height: tablet(36);
	}
	
	.accordion__content {
	  margin-top: tablet(24);
	}
  }
  
  @media screen and (min-width: $desktop_media_static) {
	.accordion__item {
	  padding: desktop(32) 0;
	}
	
	.accordion__title {
	  font-size: desktop(30);
	  line-height: desktop(36);
	}
	
	.accordion__content {
	  margin-top: desktop(24);
	}
  }
}

.filter__accordion {
  .accordion__item {
	&:first-child {
	  padding-top: 0;
	}
	
	padding: mobile(16) 0;
  }
  
  .accordion__title {
	@include text-medium;
	font-size: mobile(18);
	line-height: mobile(23.4);
	letter-spacing: mobile(-0.36);
  }
  
  .accordion__content {
	margin-top: mobile(16);
  }
  
  @media screen and (min-width: $desktop_media) {
	.accordion__item {
	  padding: tablet(16) 0;
	}
	
	.accordion__title {
	  @include m-18-tb;
	  letter-spacing: normal;
	}
	
	.accordion__content {
	  margin-top: tablet(16);
	}
  }
  @media screen and (min-width: $desktop_media_static) {
	.accordion__item {
	  padding: desktop(16) 0;
	}
	
	.accordion__title {
	  @include m-18-dp;
	}
	
	.accordion__content {
	  margin-top: desktop(16);
	}
  }
}

.faq__accordion {
  .accordion__item {
	padding: mobile(16) 0;
  }
  
  .accordion__title {
	@include text-semi-bold;
	font-size: mobile(18);
	line-height: mobile(24);
	letter-spacing: mobile(-0.5);
  }
  
  .accordion__content {
	margin-top: mobile(12);
	
	p {
	  width: 80%;
	  font-size: mobile(18);
	  line-height: mobile(24);
	  letter-spacing: mobile(0.5);
	}
  }
  
  @media screen and (min-width: $desktop_media) {
	.accordion__item {
	  padding: tablet(24) 0;
	}
	
	.accordion__title {
	  font-size: tablet(30);
	  line-height: tablet(36);
	  letter-spacing: normal;
	}
	
	.accordion__content {
	  margin-top: tablet(12);
	  
	  p {
		width: 80%;
		@include r-16-tb;
		letter-spacing: normal;
	  }
	}
	
  }
  @media screen and (min-width: $desktop_media_static) {
	.accordion__item {
	  padding: desktop(24) 0;
	}
	
	.accordion__title {
	  font-size: desktop(30);
	  line-height: desktop(36);
	}
	
	.accordion__content {
	  margin-top: desktop(12);
	  
	  p {
		width: 80%;
		@include r-16-dp;
	  }
	}
	
  }
}