.accordion {
  &__item {
	border-bottom: mobile(1) solid var(--g-10);
	
	&:first-child {
	  padding-bottom: mobile(20);
	}
	
	&:not(:first-child) {
	  padding: mobile(20) 0;
	}
  }
  
  &__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	gap: mobile(20);
  }
  
  &__title {
	@include text-semi-bold;
	font-size: mobile(18);
	line-height: mobile(24);
	letter-spacing: mobile(0.5);
  }
  
  &__icon {
	svg, g {
	  transition: all 300ms;
	}
	
	svg {
	  width: mobile(24);
	  height: mobile(24);
	}
  }
  
  &__content {
	display: none;
	margin-top: mobile(24);
  }
}

.accordion--extra-header {
  .accordion__title {
	@include mobile-h3;
  }
}

.accordion__item--active {
  .accordion__icon {
	svg {
	  transform: rotate(180deg);
	  
	  g {
		opacity: 1;
		
		path:nth-child(2) {
		  display: none;
		}
	  }
	}
  }
  
  .accordion__content {
	display: block;
  }
}

@media screen and (min-width: $desktop_media) {
  .accordion {
	&__header {
	  gap: tablet(20);
	}
	
	&__item {
	  border-width: tablet(1);
	  
	  &:first-child {
		padding-bottom: tablet(32);
	  }
	  
	  &:not(:first-child) {
		padding: tablet(32) 0;
	  }
	}
	
	&__title {
	  @include text-semi-bold;
	  font-size: tablet(30) !important;
	  line-height: tablet(36) !important;
	}
 
	&__icon {
	  svg {
		width: tablet(24);
		height: tablet(24);
	  }
	}
	
	&__content {
	  margin-top: tablet(24);
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .accordion {
	&__header {
	  gap: desktop(20);
	}
	
	&__item {
	  border-width: desktop(1);
	  
	  &:first-child {
		padding-bottom: desktop(32);
	  }
	  
	  &:not(:first-child) {
		padding: desktop(32) 0;
	  }
	}
	
	&__title {
	  font-size: desktop(30) !important;
	  line-height: desktop(36) !important;
	}
 
	&__icon {
	  svg {
		width: desktop(24);
		height: desktop(24);
	  }
	}
	
	&__content {
	  margin-top: desktop(24);
	}
  }
}