.search-input {
  display: flex;
  align-items: center;
  
  padding: mobile(4) 0 mobile(4) mobile(16);
  
  border-width: 0;
  border-bottom-width: mobile(1);
  border-style: solid;
  border-color: var(--g-10);
  
  @include mobile-text;
  
  input {
    flex: 1;
    &::placeholder {
      color: var(--g-50);
    }
  }
}

@media screen and (min-width: $desktop_media) {
  .search-input {
    width: tablet(248);
    padding: tablet(4) 0 tablet(4) tablet(16);
    
    border-bottom-width: tablet(1);
  
    @include r-16-tb;
  }
}

@media screen and (min-width: $desktop_media_static) {
  .search-input {
    width: desktop(248);
    padding: desktop(4) 0 desktop(4) desktop(16);
    
    border-bottom-width: desktop(1);
  
    @include r-16-dp;
  }
}

.main-input {
  width: 100%;
  padding: mobile(16);
  border-bottom: mobile(1) solid var(--g-10);
  
  @include r-16-mb;
  color: var(--black);
  
  transition: border-color 300ms;
  
  &:focus {
    border-color: var(--gold);
  }
  
  &::placeholder {
    color: var(--g-50);
  }
}

@media screen and (min-width: $desktop_media) {
  .main-input {
    width: auto;
    padding: tablet(16);
    border-bottom-width: tablet(1);
    
    @include r-16-tb;
  }
}
@media screen and (min-width: $desktop_media_static) {
  .main-input {
    padding: desktop(16);
    border-bottom-width: desktop(1);
    
    @include r-16-dp;
  }
}