.swiper {
  z-index: 0 !important;
  
  .swiper-wrapper {
	align-items: flex-start;
	height: auto;
  }
  
  .swiper-slide {
	height: auto;
  }
}

button[data-services-list-prev-slide-handler], button[data-services-list-next-slide-handler] {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: mobile(60);
  height: mobile(60);
  
  border-radius: 50%;
  background-color: rgba(white, 70%);
  box-shadow: -4px -2px 12px 0px rgba(157, 157, 157, 0.10), -4px 8px 12px 0px rgba(157, 157, 157, 0.10);
  
  transition: all 300ms;
  
  &:hover {
	background-color: var(--white);
  }
  
  svg {
	width: mobile(16);
	height: mobile(16);
	
	@media screen and (min-width: $desktop_media) {
	  width: tablet(16);
	  height: tablet(16);
	}
	@media screen and (min-width: $desktop_media_static) {
	  width: desktop(16);
	  height: desktop(16);
	}
  }
}

button[data-services-list-prev-slide-handler] {
  left: mobile(16);
  
  @media screen and (min-width: $desktop_media) {
	left: tablet(20);
  }
  @media screen and (min-width: $desktop_media_static) {
	left: desktop(20);
  }
}

button[data-services-list-next-slide-handler] {
  right: mobile(16);
  
  @media screen and (min-width: $desktop_media) {
	right: tablet(20);
  }
  @media screen and (min-width: $desktop_media_static) {
	right: desktop(20);
  }
}

.swiper-button-disabled {
  opacity: 0;
}

.swiper-pagination-bullets {
  display: flex;
  gap: mobile(5);
}

.swiper-pagination-bullet {
  width: mobile(5);
  height: mobile(5);
  
  border-radius: 50%;
  background: #97969233;
  
  transition: all 300ms;
  cursor: pointer;
  margin-top: mobile(24);
  
}

.swiper-pagination-bullet-active {
  width: mobile(31);
  background: var(--gold);
  border-radius: mobile(20);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: $desktop_media) {
  button[data-services-list-prev-slide-handler], button[data-services-list-next-slide-handler] {
	width: tablet(60);
	height: tablet(60);
	
	svg {
	  width: tablet(16);
	  height: tablet(16);
	}
  }
  
  .swiper-pagination-bullets {
	gap: tablet(5);
  }
  
  .swiper-pagination-bullet {
	width: tablet(5);
	height: tablet(5);
	margin-top: tablet(24);
  }
  
  .swiper-pagination-bullet-active {
	width: tablet(31);
	border-radius: tablet(20);
  }
}

@media screen and (min-width: $desktop_media_static) {
  button[data-services-list-prev-slide-handler], button[data-services-list-next-slide-handler] {
	width: desktop(60);
	height: desktop(60);
	
	svg {
	  width: desktop(16);
	  height: desktop(16);
	}
  }
  
  .swiper-pagination-bullets {
	gap: desktop(5);
	margin-top: desktop(24);
  }
  
  .swiper-pagination-bullet {
	width: desktop(5);
	height: desktop(5);
  }
  
  .swiper-pagination-bullet-active {
	width: desktop(31);
	border-radius: desktop(20);
  }
}

.product-slider {
  
  button[data-services-list-prev-slide-handler], button[data-services-list-next-slide-handler] {
	display: none;
  }
  
  .product-card {
	width: mobile(250);
  }
  
  .swiper-wrapper > div {
	&:not(:last-child) {
	  margin-right: mobile(16);
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .product-slider {
	button[data-services-list-prev-slide-handler], button[data-services-list-next-slide-handler] {
	  display: block;
	}
	
	.swiper-pagination {
	  display: none;
	}
	
	.product-card {
	  width: tablet(440);
	}
	
	.swiper-wrapper > div {
	  &:not(:last-child) {
		margin-right: tablet(24);
	  }
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .product-slider {
	.product-card {
	  width: desktop(440);
	}
	
	.swiper-wrapper > div {
	  &:not(:last-child) {
		margin-right: desktop(24);
	  }
	}
  }
}

.swiper-pagination-fraction {
  position: absolute;
  bottom: mobile(12);
  right: mobile(12);
  z-index: 3;
  padding: mobile(2.5) mobile(8.5);
  border-radius: mobile(16);
  
  background: rgba(#1D1D1D66, 40%);
  color: var(--white);
}

@media screen and (min-width: $desktop_media) {
  .swiper-pagination-fraction {
	bottom: tablet(20);
	right: tablet(20);
	padding: tablet(4.5) tablet(18.5);
	border-radius: tablet(16);
  }
}

@media screen and (min-width: $desktop_media_static) {
  .swiper-pagination-fraction {
	bottom: desktop(20);
	right: desktop(20);
	padding: desktop(4.5) desktop(18.5);
	border-radius: desktop(16);
  }
}

.product-item__mobile-slider {
  button[data-services-list-prev-slide-handler], button[data-services-list-next-slide-handler] {
	display: none;
  }
  
  .swiper-pagination {
  }
}

@media screen and (min-width: $desktop_media) {
  .product-item__desktop-slider {
	margin-bottom: tablet(12);
	
	.product-item__slider-item {
	  &:not(:last-child) {
		margin-right: tablet(12);
	  }
	  
	  img {
		width: 100%;
		height: tablet(644);
	  }
	}
  }
  
  .product-item__desktop-thumb-slider {
	.product-item__slider-item {
	  max-width: tablet(140);
	  max-height: tablet(140);
	  
	  &:not(:last-child) {
		margin-right: tablet(12);
	  }
	}
	
	.swiper-pagination {
	  display: none;
	}
 
 
	*:not(.swiper-slide-thumb-active).swiper-slide {
	  opacity: 0.5;
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .product-item__desktop-slider {
	margin-bottom: desktop(12);
	
	.product-item__slider-item {
	  img {
		height: desktop(644);
	  }
	}
  }
  
  .product-item__desktop-thumb-slider {
	.product-item__slider-item {
	  max-width: desktop(140);
	  max-height: desktop(140);
	  
	  &:not(:last-child) {
		margin-right: desktop(12);
	  }
	}
  }
}

.reviews {
  button[data-services-list-prev-slide-handler], button[data-services-list-next-slide-handler] {
	display: none;
	
	@media screen and (min-width: $desktop_media) {
	  display: block;
	}
  }
  
  @media screen and (min-width: $desktop_media) {
	.swiper-pagination {
	  display: none;
	}
  }
}

.hero__slider {
  button[data-services-list-prev-slide-handler] {
	@media screen and (min-width: $desktop_media) {
	  left: tablet(84);
	}
	@media screen and (min-width: $desktop_media_static) {
	  left: desktop(84);
	}
  }
  
  button[data-services-list-next-slide-handler] {
	@media screen and (min-width: $desktop_media) {
	  right: tablet(84);
	}
	@media screen and (min-width: $desktop_media_static) {
	  right: desktop(84);
	}
  }
}