// Menu

.menu-wrapper {
  background: var(--grey);
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: $desktop_media) {
  .menu-desktop {
	display: flex;
	justify-content: center;
	padding: tablet(16) 0;
	
	ul {
	  display: flex;
	  gap: tablet(32);
	  
	  a {
		@include r-16-tb;
		transition: all 300ms;
		
		&:hover {
		  color: var(--gold);
		}
	  }
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .menu-desktop {
	padding: desktop(16) 0;
	
	ul {
	  gap: desktop(32);
	  
	  a {
		@include r-16-dp;
	  }
	}
  }
}

// Hero
.hero-wrapper {
  position: relative;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
}

.hero-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: mobile(32);
  padding-top: mobile(32);
  
  &--without-pt {
	padding-top: 0 !important;
  }
}

.hero-wrapper__advantages-wrapper {
  margin-top: mobile(80);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: mobile(16);
  /*padding: mobile(32) 0;*/
  
  h1 {
  }
  
  .btn {
	display: none;
  }
}

.hero_index-page {
  width: 90%;
  gap: mobile(24);
  margin: 0 auto;
  text-align: center;
  
  p {
	@include text-regular;
	font-size: mobile(18);
	line-height: mobile(23.4);
	letter-spacing: mobile(0.36);
  }
}

.hero-banner {
  position: relative;
  
  &__item {
	position: relative;
	
	img {
	  object-fit: cover;
	}
	
	& > div {
	  position: absolute;
	  
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: end;
	  
	  width: 100%;
	  left: 50%;
	  top: 0;
	  bottom: 0;
	  padding-bottom: mobile(40);
	  
	  transform: translateX(-50%);
	  
	  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 95%);
	  
	  color: var(--white);
	  
	  .btn {
		margin-top: mobile(24);
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .hero {
	flex-direction: row;
	justify-content: space-between;
	gap: tablet(64);
	/*padding: tablet(64) 0;*/
	
	.btn {
	  display: inline-flex;
	}
	
	& > div:nth-child(2) {
	  display: flex;
	  flex-direction: column;
	  align-items: start;
	  gap: tablet(32);
	  max-width: tablet(324);
	}
  }
  
  .hero_index-page {
	width: auto;
	margin: unset;
	text-align: left;
	
	p {
	  @include r-18-tb;
	  letter-spacing: normal;
	}
  }
  
  .hero-inner-wrapper {
	gap: tablet(64);
	padding-top: tablet(64);
  }
  
  .hero-wrapper__advantages-wrapper {
	order: 2;
	margin-top: tablet(90);
  }
  
  .hero-wrapper__stories-wrapper {
	margin-top: tablet(90);
	order: 1;
  }
  
  .hero-banner {
	&__item {
	  img {
		width: 100%;
		height: tablet(800);
	  }
	  
	  & > div {
		padding-bottom: tablet(40);
		@include r-16-tb;
		
		.btn {
		  margin-top: tablet(24);
		}
	  }
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .hero {
	gap: desktop(64);
	/*padding: desktop(64) 0;*/
	
	& > div:nth-child(2) {
	  gap: desktop(32);
	  max-width: desktop(324);
	}
  }
  
  .hero_index-page {
	p {
	  @include r-18-dp;
	}
  }
  
  .hero-inner-wrapper {
	gap: desktop(64);
	padding-top: desktop(64);
  }
  
  .hero-wrapper__stories-wrapper {
	margin-top: desktop(90);
  }
  .hero-banner {
	&__item {
	  img {
		height: desktop(800);
	  }
	  
	  & > div {
		padding-bottom: desktop(40);
		@include r-16-dp;
		
		.btn {
		  margin-top: desktop(24);
		}
	  }
	}
  }
}

// Mobile menu

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  overflow: scroll;
  
  display: flex;
  flex-direction: column;
  gap: mobile(40);
  height: 100vh;
  padding: mobile(104) mobile(16) mobile(16);
  
  background: var(--white);
  
  text-align: center;
  
  transition: transform 300ms;
  transform: translateX(100%);
  
  &--active {
	transform: translateX(0);
  }
}

@media screen and (min-width: $desktop_media) {
  .mobile-menu {
	display: none;
  }
}

@media screen and (min-width: $desktop_media_static) {

}

// Advantages

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: mobile(16);
  /*margin: mobile(80) 0;*/
  
  &__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: mobile(24);
	
	padding: mobile(24) mobile(12);
	
	border-width: mobile(1);
	border-style: solid;
	border-color: var(--g-10);
	
	text-align: center;
	
	transition: border-color 300ms;
	
	&:hover {
	  border-color: var(--black);
	}
  }
  
  svg {
	width: mobile(60);
	height: mobile(60);
  }
  
  &__content {
	@include text-regular;
	font-size: mobile(20);
	line-height: mobile(22);
  }
}

@media screen and (min-width: $desktop_media) {
  .advantages {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: tablet(24);
	/*margin: tablet(90) 0 tablet(120);*/
	
	&__item {
	  gap: tablet(24);
	  height: tablet(330);
	  padding: tablet(32);
	  border-width: tablet(1);
	}
	
	svg {
	  width: tablet(60);
	  height: tablet(60);
	}
	
	&__content {
	  @include r-20-tb;
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .advantages {
	gap: desktop(24);
	/*margin: desktop(90) 0 desktop(120);*/
	
	&__item {
	  gap: desktop(24);
	  height: desktop(330);
	  padding: desktop(32);
	  border-width: desktop(1);
	}
	
	svg {
	  width: desktop(60);
	  height: desktop(60);
	}
	
	&__content {
	  @include r-20-dp;
	}
  }
}

// Stories

.stories {
  display: flex;
  flex-wrap: nowrap;
  gap: mobile(16);
  padding: mobile(16) 0;
  overflow: hidden;
  text-align: center;
  
  &__item {
  }
  
  &__item--active {
	.stories__circle-wrapper {
	  background: linear-gradient(134.9deg, #FFC90E -4.07%, #FF6C24 85.71%, rgba(255, 14, 57, 0.45) 176.24%);
	}
  }
  
  &__circle-wrapper {
	width: mobile(70);
	height: mobile(70);
	padding: mobile(2);
	
	background: var(--g-10);
	
	border-radius: 50%;
	
	transition: all 300ms;
  }
  
  &__circle {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	height: 100%;
	
	background: var(--white);
	
	border-radius: 50%;
  }
  
  &__name {
	margin-top: mobile(4);
  }
}

@media screen and (min-width: $desktop_media) {
  .stories {
	justify-content: space-between;
	gap: tablet(32);
	padding: 0;
	
	&__circle-wrapper {
	  width: tablet(94);
	  height: tablet(94);
	  padding: tablet(2);
	}
	
	&__circle {
	  padding: tablet(10);
	}
	
	&__name {
	  margin-top: tablet(12);
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .stories {
	gap: desktop(32);
	
	&__circle-wrapper {
	  width: desktop(94);
	  height: desktop(94);
	  padding: desktop(2);
	}
	
	&__circle {
	  padding: desktop(10);
	}
	
	&__name {
	  margin-top: desktop(12);
	}
  }
}

// Subscribe

.subscribe-wrapper {
  text-align: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: mobile(24);
}

@media screen and (min-width: $desktop_media) {
  .subscribe {
	width: tablet(382);
	gap: tablet(24);
	margin: 0 auto;
  }
}

@media screen and (min-width: $desktop_media_static) {
  .subscribe {
	width: desktop(382);
	gap: desktop(24);
  }
}

// contacts

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: mobile(24);
  text-align: left;
  
  & > div {
	display: flex;
	flex-direction: column;
	gap: mobile(12);
	
	p {
	  @include text-semi-bold;
	  font-size: mobile(18);
	  line-height: mobile(23.4);
	  letter-spacing: -2%;
	  color: var(--g-40);
	}
	
	a {
	  display: flex;
	  align-items: center;
	  gap: mobile(8);
	  
	  @include text-medium;
	  font-size: mobile(16);
	  line-height: mobile(24);
	  
	  transition: all 300ms;
	  
	  svg {
		width: mobile(24);
		height: mobile(24);
	  }
	  
	  &:hover {
		color: var(--gold);
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .contacts-list {
	gap: tablet(24);
	
	& > div {
	  gap: tablet(12);
	  
	  p {
		@include m-20-tb;
		letter-spacing: normal;
	  }
	  
	  a {
		gap: tablet(8);
		@include r-20-tb;
		
		svg {
		  width: tablet(24);
		  height: tablet(24);
		}
	  }
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .contacts-list {
	gap: desktop(24);
	
	& > div {
	  gap: desktop(12);
	  
	  p {
		@include m-20-dp;
	  }
	  
	  a {
		gap: desktop(8);
		@include r-20-dp;
		
		svg {
		  width: desktop(24);
		  height: desktop(24);
		}
	  }
	}
  }
}

// social-media

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: mobile(12);
  
  a {
	padding: mobile(16);
	background: var(--grey);
	
	border-radius: 50%;
	
	&, svg path {
	  transition: all 300ms;
	}
	
	&:hover {
	  background: var(--g-10);
	}
  }
  
  svg {
	width: mobile(24);
	height: mobile(24);
  }
  
  &--bg-white {
	a {
	  background: var(--white);
	  
	  &:hover {
		background: var(--black);
		
		svg path {
		  fill: white;
		}
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .social-media {
	gap: tablet(12);
	
	a {
	  padding: tablet(16);
	}
	
	svg {
	  width: tablet(24);
	  height: tablet(24);
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .social-media {
	gap: desktop(12);
	
	a {
	  padding: desktop(16);
	}
	
	svg {
	  width: desktop(24);
	  height: desktop(24);
	}
  }
}

// FAQ

.faq {
  display: flex;
  flex-direction: column;
  gap: mobile(24);
  
  &__tabs {
	display: flex;
	
  }
  
  &__tab {
	width: max-content;
	white-space: nowrap;
	padding: mobile(8) 0;
	
	@include r-18-mb;
	
	&:not(:last-child) {
	  margin-right: mobile(24);
	}
	
	&--active {
	  border-bottom: mobile(1) solid var(--black);
	}
  }
  
  @media screen and (min-width: $desktop_media) {
	gap: tablet(24);
	
	&__tab {
	  padding: tablet(8) 0;
	  @include r-20-tb;
	  
	  &:not(:last-child) {
		margin-right: tablet(24);
	  }
	  
	  &--active {
		border-bottom-width: tablet(1);
	  }
	}
	
  }
  @media screen and (min-width: $desktop_media_static) {
	gap: desktop(24);
	
	&__tab {
	  padding: desktop(8) 0;
	  @include r-20-dp;
	  
	  &:not(:last-child) {
		margin-right: desktop(24);
	  }
	  
	  &--active {
		border-bottom-width: desktop(1);
	  }
	}
	
  }
}

// Catalog

.catalog {
  display: flex;
  flex-direction: column;
  gap: mobile(32);
  
  &__header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: mobile(10);
	row-gap: mobile(32);
  }
  
  &__filter-btn {
	color: var(--black);
  }
  
  &__sort-btn {
	display: flex;
	align-items: center;
	gap: mobile(8);
	
	@include text-medium;
	font-size: mobile(16);
	line-height: mobile(20.8);
	letter-spacing: mobile(-0.32);
	
	svg {
	  width: mobile(16);
	  height: mobile(16);
	}
  }
  
  &__qty-result {
	color: var(--g-60);
  }
  
  &__body {
	
  }
  
  &__product-list {
	display: flex;
	flex-direction: column;
	gap: mobile(32);
  }
  
  &__action {
	.btn-show-more {
	  width: 100%;
	}
	
	.pagination {
	  display: none;
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .catalog {
	gap: tablet(44);
	
	&__header {
	  gap: tablet(10);
	}
	
	&__filter-btn {
	  display: none;
	}
	
	&__sort-btn {
	  gap: tablet(8);
	  
	  @include m-16-tb;
	  letter-spacing: normal;
	  
	  svg {
		width: tablet(16);
		height: tablet(16);
	  }
	}
	
	&__qty-result {
	  order: -1;
	  @include r-16-tb;
	}
	
	&__body {
	  display: flex;
	  align-items: flex-start;
	  gap: tablet(44);
	}
	
	&__product-list {
	  gap: tablet(64);
	}
	
	.filter {
	  flex: 0 0 tablet(320)
	}
	
	&__action {
	  display: flex;
	  justify-content: space-between;
	  
	  .btn-show-more {
		width: auto;
	  }
	  
	  .pagination {
		display: flex;
	  }
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .catalog {
	gap: desktop(44);
	
	&__header {
	  gap: desktop(10);
	}
	
	&__sort-btn {
	  gap: desktop(8);
	  
	  @include m-16-dp;
	  
	  svg {
		width: desktop(16);
		height: desktop(16);
	  }
	}
	
	&__qty-result {
	  @include r-16-dp;
	}
	
	&__body {
	  gap: desktop(44);
	}
	
	&__product-list {
	  gap: desktop(64);
	}
	
	.filter {
	  flex: 0 0 desktop(320)
	}
	
	&__action {
	}
  }
}

// Filter

.filter {
  overflow: scroll;
  
  position: fixed;
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: column;
  gap: mobile(32);
  
  width: 100vw;
  height: 100vh;
  padding: mobile(24) mobile(16);
  
  background: var(--white);
  
  transform: translateX(100%);
  transition: all 300ms;
  
  &__header {
	display: flex;
	justify-content: space-between;
	gap: mobile(16);
	
	p {
	  flex: 1;
	  @include text-medium;
	  font-size: mobile(22);
	  line-height: mobile(24.2);
	  letter-spacing: mobile(-0.44);
	}
  }
  
  &__body {
	flex: 1;
  }
  
  &__group {
	display: flex;
	flex-direction: column;
	gap: mobile(12);
  }
  
  &__item {
	display: flex;
	align-items: center;
	gap: mobile(8);
	
	.checkmark {
	  width: mobile(18);
	  height: mobile(18);
	  border: mobile(1.5) solid var(--g-10);
	  border-radius: 50%;
	  transition: all 300ms;
	}
 
	input[type="checkbox"] {
	  display: none;
	}
	
	input:checked ~ .checkmark {
	  border: mobile(5) solid var(--gold);
	}
	
	/*& > div:last-child {
	  flex: 1;
	}*/
  }
}

.filter--active {
  transform: translateX(0);
}

@media screen and (min-width: $desktop_media) {
  .filter {
	overflow: visible;
	position: static;
	width: auto;
	height: auto;
	
	gap: tablet(44);
	
	padding: tablet(24);
	
	background: #F3F3F3;
	
	transform: translateX(0);
	
	&__header {
	  gap: normal;
	  
	  p {
		flex: 1;
		@include m-22-tb;
		letter-spacing: normal;
	  }
	  
	  button {
		display: none;
	  }
	}
	
	&__group {
	  gap: tablet(12);
	}
	
	&__item {
	  gap: tablet(8);
	  
	  input:checked ~ .checkmark {
		border-width: tablet(5);
	  }
	  
	  .checkmark {
		width: tablet(18);
		height: tablet(18);
		border-width: tablet(1.5);
	  }
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .filter {
	gap: desktop(44);
	
	padding: desktop(24);
	
	&__header {
	  p {
		@include m-22-dp;
	  }
	}
	
	&__group {
	  gap: desktop(12);
	}
	
	&__item {
	  gap: desktop(8);
	  
	  input:checked ~ .checkmark {
		border-width: desktop(5);
	  }
	  
	  .checkmark {
		width: desktop(18);
		height: desktop(18);
		border-width: desktop(1.5);
	  }
	}
  }
}

// Product-Item

.product-item {
  display: flex;
  align-items: flex-start;
  gap: mobile(32);
  
  &__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: mobile(32);
  }
  
  &__likes {
	display: flex;
	justify-content: space-between;
	
	svg {
	  width: mobile(24);
	  height: mobile(24);
	}
	
	* {
	  font-size: mobile(14);
	  line-height: mobile(15.4);
	  letter-spacing: mobile(-0.28);
	}
  }
  
  &__btn-like {
	display: flex;
	align-items: center;
	gap: mobile(8);
	
	svg path {
	  transition: all 300ms;
	}
	
	&--active {
	  svg path {
		fill: var(--main-red);
		stroke: var(--main-red);
	  }
	}
  }
  
  &__btn-gift {
	display: flex;
	align-items: center;
	gap: mobile(8);
	padding: mobile(4) mobile(12);
	background: var(--grey);
	transition: all 300ms;
	
	&:hover {
	  background: var(--g-10);
	}
  }
  
  &__hero {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
  }
  
  &__mobile-slider {
	/*display: flex;
	width: max-content;*/
  }
  
  &__mobile-slider &__slider-item {
	max-width: mobile(320);
	height: mobile(320);
	
	img {
	  width: 100%;
	  height: 100%;
	}
	
	&:not(:last-child) {
	  margin-right: mobile(16);
	}
  }
  
  &__name-cost {
	display: flex;
	flex-direction: column;
	gap: mobile(12);
  }
  
  &__name {
	font-size: mobile(24);
	line-height: mobile(31.2);
	letter-spacing: mobile(-0.48);
  }
  
  &__cost {
	display: flex;
	align-items: center;
	gap: mobile(16);
	
	& > *:first-child {
	  @include text-medium;
	  font-size: mobile(26);
	  line-height: mobile(28.6);
	  letter-spacing: mobile(-0.52);
	}
	
	& > *:last-child {
	  @include text-medium;
	  font-size: mobile(20);
	  line-height: mobile(22);
	  letter-spacing: mobile(-0.4);
	  
	  color: var(--g-50);
	  text-decoration: line-through;
	}
  }
  
  &__action {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
  }
  
  &__characteristic {
	
  }
  
  &__description {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
  }
  
  &__specification {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	gap: mobile(32);
	
	& > div {
	
	}
	
	a {
	  font-size: mobile(18);
	  line-height: mobile(23.4);
	  letter-spacing: mobile(-0.36);
	  border-bottom: mobile(1) solid var(--black);
	  text-transform: none;
	}
  }
  
  &__specification-item {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
	
	& > * {
	  font-size: mobile(16);
	  line-height: mobile(20.8);
	  letter-spacing: mobile(-0.32);
	}
  }
  
  &__specification-item-header {
	
  }
  
  &__specification-item-body {
	display: flex;
	flex-direction: column;
	gap: mobile(8);
	
	& > div {
	  display: flex;
	  gap: mobile(32);
	}
	
	& > div > div:first-child {
	  width: mobile(150);
	  
	  color: var(--g-60);
	  text-transform: uppercase;
	  
	}
  }
  
  &__shipping-methods {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
	
	div {
	  display: flex;
	  gap: mobile(8);
	  
	  svg {
		width: mobile(24);
		height: mobile(24);
	  }
	  
	  p {
		font-size: mobile(16);
		line-height: mobile(20.8);
		letter-spacing: mobile(-0.32);
	  }
	}
  }
  
  .thumbs-gallery {
	display: none;
  }
}

@media screen and (min-width: $desktop_media) {
  .product-item {
	gap: tablet(64);
	
	&__info {
	  gap: tablet(44);
	}
	
	&__likes {
	  order: 1;
	  
	  * {
		@include r-16-tb;
		letter-spacing: normal;
	  }
	  
	  svg {
		width: tablet(24);
		height: tablet(24);
	  }
	}
	
	&__btn-like {
	  gap: tablet(8);
	}
	
	&__btn-gift {
	  gap: tablet(8);
	  padding: tablet(4) tablet(12);
	}
	
	&__hero {
	  gap: tablet(24);
	}
	
	&__mobile-slider {
	  display: none !important;
	}
	
	&__name-cost {
	  gap: tablet(12);
	}
	
	&__name {
	  @include r-28-tb;
	  letter-spacing: normal;
	}
	
	&__cost {
	  gap: tablet(16);
	  
	  & > *:first-child {
		@include m-24-tb;
		letter-spacing: normal;
	  }
	  
	  & > *:last-child {
		font-size: tablet(20);
		line-height: tablet(22);
		letter-spacing: tablet(-0.4);
	  }
	}
	
	&__action {
	  flex-direction: row;
	  justify-content: space-between;
	  gap: tablet(16);
	  
	  button {
		flex: 1;
	  }
	}
	
	&__characteristic {
	
	}
	
	&__description {
	  gap: tablet(16);
	}
	
	&__specification {
	  gap: tablet(32);
	  
	  a {
		font-size: tablet(18);
		line-height: tablet(23.4);
		letter-spacing: tablet(-0.36);
		border-bottom-width: tablet(1);
	  }
	}
	
	&__specification-item {
	  gap: tablet(16);
	  
	  & > * {
		@include m-16-tb;
		letter-spacing: normal;
	  }
	}
	
	&__specification-item-header {
	
	}
	
	&__specification-item-body {
	  gap: tablet(8);
	  
	  & > div {
		gap: tablet(24);
	  }
	  
	  & > div > div:first-child {
		width: tablet(180);
	  }
	}
	
	&__shipping-methods {
	  gap: tablet(16);
	  
	  div {
		gap: tablet(8);
		
		svg {
		  width: tablet(24);
		  height: tablet(24);
		}
		
		p {
		  font-size: tablet(16);
		  line-height: tablet(20.8);
		  letter-spacing: tablet(-0.32);
		}
	  }
	}
	
	.thumbs-gallery {
	  display: block;
	  width: tablet(748);
	  flex-shrink: 0;
	  
	  .product-item__slider {
		display: flex !important;
	  }
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .product-item {
	gap: desktop(64);
	
	&__info {
	  gap: desktop(44);
	}
	
	&__likes {
	  * {
		@include r-16-dp;
	  }
	  
	  svg {
		width: desktop(24);
		height: desktop(24);
	  }
	}
	
	&__btn-like {
	  gap: desktop(8);
	}
	
	&__btn-gift {
	  gap: desktop(8);
	  padding: desktop(4) desktop(12);
	}
	
	&__hero {
	  gap: desktop(24);
	}
	
	&__name-cost {
	  gap: desktop(12);
	}
	
	&__name {
	  @include r-28-dp;
	}
	
	&__cost {
	  gap: desktop(16);
	  
	  & > *:first-child {
		@include m-24-dp;
	  }
	  
	  & > *:last-child {
		font-size: desktop(20);
		line-height: desktop(22);
		letter-spacing: desktop(-0.4);
	  }
	}
	
	&__action {
	  gap: desktop(16);
	}
	
	&__description {
	  gap: desktop(16);
	}
	
	&__specification {
	  gap: desktop(32);
	  
	  a {
		font-size: desktop(18);
		line-height: desktop(23.4);
		letter-spacing: desktop(-0.36);
		border-bottom-width: desktop(1);
	  }
	}
	
	&__specification-item {
	  gap: desktop(16);
	  
	  & > * {
		@include m-16-dp;
	  }
	}
	
	&__specification-item-header {
	
	}
	
	&__specification-item-body {
	  gap: desktop(8);
	  
	  & > div {
		gap: desktop(24);
	  }
	  
	  & > div > div:first-child {
		width: desktop(180);
	  }
	}
	
	&__shipping-methods {
	  gap: desktop(16);
	  
	  div {
		gap: desktop(8);
		
		svg {
		  width: desktop(24);
		  height: desktop(24);
		}
		
		p {
		  font-size: desktop(16);
		  line-height: desktop(20.8);
		  letter-spacing: desktop(-0.32);
		}
	  }
	}
	
	.thumbs-gallery {
	  width: desktop(748);
	}
  }
}

// Reviews

.reviews {
  
  &__item {
	max-width: mobile(300);
	padding: mobile(16);
	
	display: flex !important;
	flex-direction: column;
	gap: mobile(16);
	
	background: var(--grey);
	
	&:not(:last-child) {
	  margin-right: mobile(13);
	}
  }
  
  &__info {
	display: flex;
	gap: mobile(16);
  }
  
  &__avatar {
	width: mobile(60);
	height: mobile(60);
	
	img {
	  object-fit: cover;
	}
  }
  
  &__name-date {
	display: flex;
	flex-direction: column;
	gap: mobile(6);
  }
  
  &__name {
	@include text-semi-bold;
	font-size: mobile(20);
	line-height: mobile(26);
	letter-spacing: mobile(-0.4);
  }
  
  &__date {
	font-size: mobile(14);
	line-height: mobile(15.4);
	letter-spacing: mobile(-0.28);
  }
  
  &__stars {
	display: flex;
	gap: mobile(6);
	
	svg {
	  width: mobile(24);
	  height: mobile(24);
	}
  }
  
  &__content {
	button[data-show-all-review] {
	  margin-top: mobile(8);
	}
	
	p {
	  -webkit-line-clamp: 4;
	  display: -webkit-inline-box;
	  -webkit-box-orient: vertical;
	  overflow: hidden;
	  color: var(--g-80);
	}
	
	p, button {
	  font-size: mobile(16);
	  line-height: mobile(17.6);
	  letter-spacing: mobile(-0.32);
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .reviews {
	&__item {
	  max-width: tablet(672);
	  padding: tablet(20);
	  
	  gap: tablet(16);
	  
	  &:not(:last-child) {
		margin-right: tablet(24);
	  }
	}
	
	&__info {
	  gap: tablet(16);
	}
	
	&__avatar {
	  width: tablet(120);
	  height: tablet(120);
	}
	
	&__name-date {
	  gap: tablet(6);
	}
	
	&__name {
	  font-size: tablet(20);
	  line-height: tablet(26);
	  letter-spacing: tablet(-0.4);
	}
	
	&__date {
	  font-size: tablet(14);
	  line-height: tablet(15.4);
	  letter-spacing: tablet(-0.28);
	}
	
	&__stars {
	  gap: tablet(6);
	  
	  svg {
		width: tablet(24);
		height: tablet(24);
	  }
	}
	
	&__content {
	  button[data-show-all-review] {
		margin-top: tablet(8);
	  }
	  
	  p, button {
		font-size: tablet(16);
		line-height: tablet(17.6);
		letter-spacing: tablet(-0.32);
	  }
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .reviews {
	&__item {
	  max-width: desktop(672);
	  padding: desktop(20);
	  
	  gap: desktop(16);
	  
	  &:not(:last-child) {
		margin-right: desktop(24);
	  }
	}
	
	&__info {
	  gap: desktop(16);
	}
	
	&__avatar {
	  width: desktop(120);
	  height: desktop(120);
	}
	
	&__name-date {
	  gap: desktop(6);
	}
	
	&__name {
	  font-size: desktop(20);
	  line-height: desktop(26);
	  letter-spacing: desktop(-0.4);
	}
	
	&__date {
	  font-size: desktop(14);
	  line-height: desktop(15.4);
	  letter-spacing: desktop(-0.28);
	}
	
	&__stars {
	  gap: desktop(6);
	  
	  svg {
		width: desktop(24);
		height: desktop(24);
	  }
	}
	
	&__content {
	  button[data-show-all-review] {
		margin-top: desktop(8);
	  }
	  
	  p, button {
		font-size: desktop(16);
		line-height: desktop(17.6);
		letter-spacing: desktop(-0.32);
	  }
	}
  }
}

// list-menu

.list-menu {
  ul {
	display: flex;
	flex-direction: column;
	gap: mobile(24);
	
	li {
	  @include text-semi-bold;
	  font-size: mobile(22);
	  line-height: mobile(24);
	  letter-spacing: mobile(0.5);
	  
	  transition: all 300ms;
	  
	  &:hover {
		color: var(--gold);
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .list-menu {
	order: -1;
	
	ul {
	  gap: tablet(24);
	  
	  li {
		@include m-18-tb;
		letter-spacing: normal;
	  }
	}
  }
  
}

@media screen and (min-width: $desktop_media_static) {
  .list-menu {
	ul {
	  gap: desktop(24);
	  
	  li {
		@include m-18-dp;
	  }
	}
  }
}

// Contacts-card

.contacts-card {
  display: flex;
  flex-direction: column;
  gap: mobile(40);
  
  &.gap-xs {
	gap: mobile(24);
  }
}

@media screen and (min-width: $desktop_media) {
  .contacts-card {
	display: flex;
	flex-direction: column;
	gap: tablet(40);
	
	&.gap-xs {
	  gap: tablet(24);
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .contacts-card {
	gap: desktop(40);
	
	&.gap-xs {
	  gap: desktop(24);
	}
  }
}

// Divider

.divider {
  width: 100%;
  height: mobile(1);
  background: var(--g-10);
  flex-shrink: 0;
}

@media screen and (min-width: $desktop_media) {
  .divider {
	height: tablet(1);
  }
}

@media screen and (min-width: $desktop_media_static) {
  .divider {
	height: desktop(1);
  }
}

// Checkout elements

.checkout-section {
  display: flex;
  flex-direction: column;
  gap: mobile(80);
}

.checkout-list {
  display: flex;
  flex-direction: column;
  gap: mobile(16);
  
  .product-checkout-card:not(:last-child) {
	padding-bottom: mobile(16);
	border-bottom: mobile(1) solid var(--g-10);
  }
}

.checkout-order {
  display: flex;
  flex-direction: column;
  gap: mobile(80);
}

.checkout-order-sum {
  display: flex;
  flex-direction: column;
  gap: mobile(32);
  
  padding: mobile(40) mobile(16);
  
  background: var(--grey);
  
  &__header {
	@include text-medium;
	font-size: mobile(24);
	line-height: mobile(31.2);
	letter-spacing: mobile(-0.48);
  }
  
  &__info {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
	
	& > div {
	  display: flex;
	  gap: mobile(16);
	  
	  & > *:first-child {
		flex: 1;
		color: var(--g-60);
	  }
	  
	  & > *:last-child {
		@include text-medium;
		font-size: mobile(18);
		line-height: mobile(23.4);
		letter-spacing: mobile(-0.36);
	  }
	}
  }
}

.checkout-order-form {
  &__header {
	margin-bottom: mobile(24);
	
	@include text-medium;
	font-size: mobile(24);
	line-height: mobile(31.2);
	letter-spacing: mobile(-0.48);
  }
  
  form {
	display: flex;
	flex-direction: column;
	gap: mobile(24);
	margin-bottom: mobile(32);
  }
  
  &__actions {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
  }
}

@media screen and (min-width: $desktop_media) {
  .checkout-section {
	flex-direction: row;
	gap: tablet(64);
  }
  
  .checkout-list {
	flex: 1;
	gap: tablet(24);
	
	.product-checkout-card:not(:last-child) {
	  padding-bottom: tablet(24);
	  border-bottom-width: tablet(1);
	}
  }
  
  .checkout-order {
	width: tablet(382);
	gap: tablet(64);
  }
  
  .checkout-order-sum {
	gap: tablet(32);
	padding: tablet(20);
	
	&__header {
	  @include m-20-tb;
	  letter-spacing: normal;
	}
	
	&__info {
	  gap: tablet(18);
	  
	  & > div {
		gap: tablet(18);
		
		& > *:first-child {
		  @include r-16-tb;
		  letter-spacing: normal;
		}
		
		& > *:last-child {
		  @include m-18-tb;
		  letter-spacing: normal;
		}
	  }
	}
  }
  
  .checkout-order-form {
	&__header {
	  margin-bottom: tablet(24);
	  
	  @include m-20-tb;
	  letter-spacing: normal;
	}
	
	form {
	  gap: tablet(24);
	  margin-bottom: tablet(32);
	}
	
	&__actions {
	  gap: tablet(16);
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .checkout-section {
	gap: desktop(64);
  }
  
  .checkout-list {
	gap: desktop(24);
	
	.product-checkout-card:not(:last-child) {
	  padding-bottom: desktop(24);
	  border-bottom-width: desktop(1);
	}
  }
  
  .checkout-order {
	width: desktop(382);
	gap: desktop(64);
  }
  
  .checkout-order-sum {
	gap: desktop(32);
	padding: desktop(20);
	
	&__header {
	  @include m-20-dp;
	}
	
	&__info {
	  gap: desktop(18);
	  
	  & > div {
		gap: desktop(18);
		
		& > *:first-child {
		  @include r-16-dp;
		}
		
		& > *:last-child {
		  @include m-18-dp;
		}
	  }
	}
  }
  
  .checkout-order-form {
	&__header {
	  margin-bottom: desktop(24);
	  
	  @include m-20-dp;
	}
	
	form {
	  gap: desktop(24);
	  margin-bottom: desktop(32);
	}
	
	&__actions {
	  gap: desktop(16);
	}
  }
}

// Basket-side

.basket-side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  
  display: flex;
  flex-direction: column;
  gap: mobile(32);
  
  width: 100vw;
  height: 100vh;
  padding: mobile(24) mobile(16);
  
  background: var(--white);
  
  transition: transform 300ms;
  
  transform: translateX(100%);
  
  &__header {
	display: flex;
	justify-content: space-between;
	gap: mobile(16);
	
	p {
	  flex: 1;
	  @include text-medium;
	  font-size: mobile(22);
	  line-height: mobile(24.2);
	  letter-spacing: mobile(-0.44);
	  
	  span {
		@include text-regular;
		color: var(--g-50);
	  }
	}
	
	svg {
	  width: mobile(24);
	  height: mobile(24);
	}
  }
  
  &__body {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
  }
  
  &__total {
	span {
	  font-size: mobile(20);
	  line-height: mobile(26);
	  letter-spacing: mobile(-0.4);
	}
	
	span:first-child {
	  color: var(--g-60);
	}
	
	span:last-child {
	  @include text-medium;
	}
  }
  
  &__actions {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	gap: mobile(32);
	
	.btn-link {
	  align-self: center;
	}
  }
  
  &.is-active {
	transform: translateX(0);
  }
  
  .divider {
	display: none;
  }
  
  @media screen and (max-width: 767px) {
	top: 0 !important;
	left: 0 !important;
  }
}

@media screen and (min-width: $desktop_media) {
  .basket-side {
	display: none;
	top: unset;
	left: unset;
	
	gap: tablet(24);
	
	width: tablet(414);
	height: max-content;
	padding: tablet(24);
	
	box-shadow: -4px -2px 12px 0px rgba(157, 157, 157, 0.10), -4px 8px 12px 0px rgba(157, 157, 157, 0.10);
	transform: unset;
	
	&__header {
	  gap: tablet(16);
	  
	  p {
		@include r-20-tb;
		letter-spacing: normal;
	  }
	  
	  svg {
		width: tablet(24);
		height: tablet(24);
	  }
	}
	
	&__body {
	  gap: tablet(24);
	}
	
	&__total {
	  span {
		letter-spacing: normal;
	  }
	  
	  span:first-child {
		@include r-16-tb;
	  }
	  
	  span:last-child {
		@include m-20-tb;
	  }
	}
	
	&__actions {
	  gap: tablet(32);
	  
	  .btn-link {
		display: none;
	  }
	}
	
	&.is-active {
	  display: flex;
	  transform: translateX(0);
	}
	
	.divider {
	  display: block;
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .basket-side {
	gap: desktop(24);
	
	width: desktop(414);
	padding: desktop(24);
	
	&__header {
	  gap: desktop(16);
	  
	  p {
		@include r-20-dp;
	  }
	  
	  svg {
		width: desktop(24);
		height: desktop(24);
	  }
	}
	
	&__body {
	  gap: desktop(24);
	}
	
	&__total {
	  
	  span:first-child {
		@include r-16-dp;
	  }
	  
	  span:last-child {
		@include m-20-dp;
	  }
	}
	
	&__actions {
	  gap: desktop(32);
	}
  }
}

// sort-dropdown

.sort-dropdown {
  display: none;
  
  position: absolute;
  top: 0;
  left: 0;
  
  width: mobile(183);
  
  background: var(--white);
  box-shadow: -4px -2px 12px 0px rgba(157, 157, 157, 0.10), -4px 8px 12px 0px rgba(157, 157, 157, 0.10);
  
  button {
	width: 100%;
	padding: mobile(16);
	
	text-align: left;
	transition: background-color 300ms;
	
	@include text-medium;
	font-size: mobile(14);
	line-height: mobile(16.8);
	letter-spacing: mobile(0.3);
	
	&:hover {
	  background: var(--grey);
	}
  }
  
  &.is-active {
	display: block;
  }
}

@media screen and (min-width: $desktop_media) {
  .sort-dropdown {
	width: tablet(183);
	
	button {
	  padding: tablet(16);
	  
	  @include r-16-tb;
	  letter-spacing: normal;
	}
  }
}

@media screen and (min-width: $desktop_media_static) {
  .sort-dropdown {
	width: desktop(183);
	
	button {
	  padding: desktop(16);
	  
	  @include r-16-dp;
	}
  }
}

// Map

.map {
  height: mobile(380);
  
  & > * {
	width: 100%;
	height: 100%;
  }
  
  @media screen and (min-width: $desktop_media) {
	height: tablet(800);
  }
  @media screen and (min-width: $desktop_media_static) {
	height: desktop(800);
  }
}