// Menu

.menu-wrapper {
  background: #F7F7F7;
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: $desktop_media) {
  .menu-desktop {
    display: flex;
    justify-content: center;
    padding: tablet(16) 0;
    
    ul {
      display: flex;
      gap: tablet(32);
      
      a {
        @include r-16-tb;
      }
    }
  }
}
@media screen and (min-width: $desktop_media_static) {
  .menu-desktop {
    padding: desktop(16) 0;
    
    ul {
      gap: desktop(32);
      
      a {
        @include r-16-dp;
      }
    }
  }
}

// Hero
.hero {
  position: relative;
  overflow: hidden;
  /*padding: mobile(144) 0 mobile(80);*/
  padding-bottom: mobile(80);
  color: var(--white);
  /*background: url("/src/assets/img/hero-bg.png");*/
  background-size: cover;
  border-end-start-radius: mobile(32);
  border-end-end-radius: mobile(32);
  
  h1 {
    @include seo-heading-1-mb;
    margin-top: mobile(144);
    margin-bottom: mobile(32);
  }
  
  p {
    @include text-medium;
    font-size: mobile(18);
    line-height: mobile(30);
  }
  
  & + .workflow-wrapper {
    .solution-item-side {
      order: 0 !important;
    }
  }
  
  & + .solution {
    .solution-item-side {
      order: 1;
    }
  }
}

@media screen and (min-width: $desktop_media) {
}

@media screen and (min-width: $desktop_media_static) {
}
// ---