<section class="hero-wrapper">
  <div class="stories-wrapper container">
    <div class="stories">
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
      <div class="stories__item stories__item--active">
        <div class="stories__circle-wrapper">
          <div class="stories__circle">
            <img src="/src/assets/img/Stories/fossil-logo-big 1.png" alt="">
          </div>
        </div>
        <div class="stories__name">Fossil</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero">
      <div>
        <h1>{{title}}</h1>
      </div>
      <div>
        <p>{{subtitle}}</p>
        <if condition="isShowBtn">
          <button class="btn btn-flat btn-flat--main">Catalogue</button>
        </if>
      </div>
    </div>
  </div>
  <div class="hero__slider hero-banner">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="hero-banner__item swiper-slide">
          <img src="/src/assets/img/Hero/hero-slider-1.png" alt="">
          <div>
            <h2>Nouvelle collection</h2>
            <p>L'art du temps dans la nouvelle collection</p>
            <a href="/" class="btn btn-link btn-link--white">
              <span>DÉCOUVRIR</span>
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__arrow">
      <div>
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.58363 14.7955L9.23136 13.1619L4.90607 8.83665H15.041V6.43608H4.90607L9.23136 2.1179L7.58363 0.477273L0.424538 7.63636L7.58363 14.7955Z" fill="#1D1D1D"/>
        </svg>
      </div>
      <div>
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.41637 14.7671L6.76864 13.1336L11.0939 8.80833H0.958984V6.40776H11.0939L6.76864 2.08958L8.41637 0.448952L15.5755 7.60804L8.41637 14.7671Z" fill="#1D1D1D"/>
        </svg>
      </div>
    </div>
    <div class="hero-banner__navigation">
      <svg width="62" height="5" viewBox="0 0 62 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" width="31" height="5" rx="2.5" fill="#D6AC5E"/>
        <circle cx="39" cy="2.5" r="2.5" fill="#979692" fill-opacity="0.2"/>
        <circle cx="49" cy="2.5" r="2.5" fill="#979692" fill-opacity="0.2"/>
        <circle cx="59" cy="2.5" r="2.5" fill="#979692" fill-opacity="0.2"/>
      </svg>
    </div>
  </div>
  <div class="advantages-wrapper container">
    <include src="components/widget/advantages.html"></include>
  </div>
</section>