<section class="wrapper-highlight">
  <div class="container">
    <div class="section-header">
      <div>
        <h2>Les plus populaires</h2>
        <p>Une montre qui a conquis le cœur de nombreuses personnes élégantes et confiantes</p>
      </div>
      <div>
        <a href="/" class="btn btn-link btn-link--black">
          <span>Voir plus</span>
          <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
        </a>
      </div>
    </div>
    <div class="product-list">
      <div class="product-card product-card--simplified">
        <div class="product-card__img">
          <img src="/src/assets/img/Products/1.png" alt="">
        </div>
        <div class="product-card__name">FESTINA/f20576_1</div>
        <div class="product-card__cost">
            <div>30 000 DA</div>
            <div>36 000 DA</div>
          </div>
        <div class="product-card__action">
          <a href="/" class="btn btn-link btn-link--black">
              <span>Voir plus</span>
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
            </a>
          <button class="product-card__like product-card__like--active">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1636_2389)">
                <path d="M11.875 19.0192C11.875 19.0192 3 14.2404 3 8.60817C3 7.38601 3.4855 6.2139 4.3497 5.3497C5.2139 4.4855 6.38601 4 7.60817 4C9.53593 4 11.1872 5.05049 11.875 6.73077C12.5628 5.05049 14.2141 4 16.1418 4C17.364 4 18.5361 4.4855 19.4003 5.3497C20.2645 6.2139 20.75 7.38601 20.75 8.60817C20.75 14.2404 11.875 19.0192 11.875 19.0192Z" stroke="#1D1D1D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1636_2389">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
      <div class="product-card product-card--simplified">
        <div class="product-card__img">
          <img src="/src/assets/img/Products/2.png" alt="">
        </div>
        <div class="product-card__name">FESTINA/f20576_1</div>
        <div class="product-card__cost">
            <div>30 000 DA</div>
            <div>36 000 DA</div>
          </div>
        <div class="product-card__action">
          <a href="/" class="btn btn-link btn-link--black">
              <span>Voir plus</span>
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
            </a>
          <button class="product-card__like">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1636_2389)">
                <path d="M11.875 19.0192C11.875 19.0192 3 14.2404 3 8.60817C3 7.38601 3.4855 6.2139 4.3497 5.3497C5.2139 4.4855 6.38601 4 7.60817 4C9.53593 4 11.1872 5.05049 11.875 6.73077C12.5628 5.05049 14.2141 4 16.1418 4C17.364 4 18.5361 4.4855 19.4003 5.3497C20.2645 6.2139 20.75 7.38601 20.75 8.60817C20.75 14.2404 11.875 19.0192 11.875 19.0192Z" stroke="#1D1D1D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1636_2389">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
      <div class="product-card product-card--simplified">
        <div class="product-card__img">
          <img src="/src/assets/img/Products/3.png" alt="">
        </div>
        <div class="product-card__name">FESTINA/f20576_1</div>
        <div class="product-card__cost">
            <div>30 000 DA</div>
            <div>36 000 DA</div>
          </div>
        <div class="product-card__action">
          <a href="/" class="btn btn-link btn-link--black">
              <span>Voir plus</span>
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
            </a>
          <button class="product-card__like">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1636_2389)">
                <path d="M11.875 19.0192C11.875 19.0192 3 14.2404 3 8.60817C3 7.38601 3.4855 6.2139 4.3497 5.3497C5.2139 4.4855 6.38601 4 7.60817 4C9.53593 4 11.1872 5.05049 11.875 6.73077C12.5628 5.05049 14.2141 4 16.1418 4C17.364 4 18.5361 4.4855 19.4003 5.3497C20.2645 6.2139 20.75 7.38601 20.75 8.60817C20.75 14.2404 11.875 19.0192 11.875 19.0192Z" stroke="#1D1D1D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1636_2389">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
      <div class="product-card product-card--simplified">
        <div class="product-card__img">
          <img src="/src/assets/img/Products/4.png" alt="">
        </div>
        <div class="product-card__name">FESTINA/f20576_1</div>
        <div class="product-card__cost">
            <div>30 000 DA</div>
            <div>36 000 DA</div>
          </div>
        <div class="product-card__action">
          <a href="/" class="btn btn-link btn-link--black">
              <span>Voir plus</span>
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
            </a>
          <button class="product-card__like">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1636_2389)">
                <path d="M11.875 19.0192C11.875 19.0192 3 14.2404 3 8.60817C3 7.38601 3.4855 6.2139 4.3497 5.3497C5.2139 4.4855 6.38601 4 7.60817 4C9.53593 4 11.1872 5.05049 11.875 6.73077C12.5628 5.05049 14.2141 4 16.1418 4C17.364 4 18.5361 4.4855 19.4003 5.3497C20.2645 6.2139 20.75 7.38601 20.75 8.60817C20.75 14.2404 11.875 19.0192 11.875 19.0192Z" stroke="#1D1D1D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1636_2389">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
      <div class="product-card product-card--simplified">
        <div class="product-card__img">
          <img src="/src/assets/img/Products/5.png" alt="">
        </div>
        <div class="product-card__name">FESTINA/f20576_1</div>
        <div class="product-card__cost">
            <div>30 000 DA</div>
            <div>36 000 DA</div>
          </div>
        <div class="product-card__action">
          <a href="/" class="btn btn-link btn-link--black">
              <span>Voir plus</span>
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
            </a>
          <button class="product-card__like">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1636_2389)">
                <path d="M11.875 19.0192C11.875 19.0192 3 14.2404 3 8.60817C3 7.38601 3.4855 6.2139 4.3497 5.3497C5.2139 4.4855 6.38601 4 7.60817 4C9.53593 4 11.1872 5.05049 11.875 6.73077C12.5628 5.05049 14.2141 4 16.1418 4C17.364 4 18.5361 4.4855 19.4003 5.3497C20.2645 6.2139 20.75 7.38601 20.75 8.60817C20.75 14.2404 11.875 19.0192 11.875 19.0192Z" stroke="#1D1D1D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1636_2389">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
      <div class="product-card product-card--simplified">
        <div class="product-card__img">
          <img src="/src/assets/img/Products/6.png" alt="">
        </div>
        <div class="product-card__name">FESTINA/f20576_1</div>
        <div class="product-card__cost">
            <div>30 000 DA</div>
            <div>36 000 DA</div>
          </div>
        <div class="product-card__action">
          <a href="/" class="btn btn-link btn-link--black">
              <span>Voir plus</span>
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
            </a>
          <button class="product-card__like">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1636_2389)">
                <path d="M11.875 19.0192C11.875 19.0192 3 14.2404 3 8.60817C3 7.38601 3.4855 6.2139 4.3497 5.3497C5.2139 4.4855 6.38601 4 7.60817 4C9.53593 4 11.1872 5.05049 11.875 6.73077C12.5628 5.05049 14.2141 4 16.1418 4C17.364 4 18.5361 4.4855 19.4003 5.3497C20.2645 6.2139 20.75 7.38601 20.75 8.60817C20.75 14.2404 11.875 19.0192 11.875 19.0192Z" stroke="#1D1D1D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1636_2389">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
      <div class="product-card product-card--simplified">
        <div class="product-card__img">
          <img src="/src/assets/img/Products/7.png" alt="">
        </div>
        <div class="product-card__name">FESTINA/f20576_1</div>
        <div class="product-card__cost">
            <div>30 000 DA</div>
            <div>36 000 DA</div>
          </div>
        <div class="product-card__action">
          <a href="/" class="btn btn-link btn-link--black">
              <span>Voir plus</span>
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
            </a>
          <button class="product-card__like">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1636_2389)">
                <path d="M11.875 19.0192C11.875 19.0192 3 14.2404 3 8.60817C3 7.38601 3.4855 6.2139 4.3497 5.3497C5.2139 4.4855 6.38601 4 7.60817 4C9.53593 4 11.1872 5.05049 11.875 6.73077C12.5628 5.05049 14.2141 4 16.1418 4C17.364 4 18.5361 4.4855 19.4003 5.3497C20.2645 6.2139 20.75 7.38601 20.75 8.60817C20.75 14.2404 11.875 19.0192 11.875 19.0192Z" stroke="#1D1D1D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1636_2389">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
      <div class="product-card product-card--simplified">
        <div class="product-card__img">
          <img src="/src/assets/img/Products/8.png" alt="">
        </div>
        <div class="product-card__name">FESTINA/f20576_1</div>
        <div class="product-card__cost">
            <div>30 000 DA</div>
            <div>36 000 DA</div>
          </div>
        <div class="product-card__action">
          <a href="/" class="btn btn-link btn-link--black">
              <span>Voir plus</span>
              <span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1469_19021)"><path d="M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.25 6H18V15.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1469_19021"><rect width="24" height="24" fill="white"/></clipPath></defs>
                </svg>
              </span>
            </a>
          <button class="product-card__like">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1636_2389)">
                <path d="M11.875 19.0192C11.875 19.0192 3 14.2404 3 8.60817C3 7.38601 3.4855 6.2139 4.3497 5.3497C5.2139 4.4855 6.38601 4 7.60817 4C9.53593 4 11.1872 5.05049 11.875 6.73077C12.5628 5.05049 14.2141 4 16.1418 4C17.364 4 18.5361 4.4855 19.4003 5.3497C20.2645 6.2139 20.75 7.38601 20.75 8.60817C20.75 14.2404 11.875 19.0192 11.875 19.0192Z" stroke="#1D1D1D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1636_2389">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-flat btn-flat--main">Voir plus</button>
  </div>
</section>