<section>
  <div class="container">
    <div class="section-header">
      <div>
        <h2>Plaisir et contentement: les Commentaires de nos clients satisfaits</h2>
        <p>Les commentaires reflètent la satisfaction et la confiance de nos clients</p>
      </div>
    </div>
    <div class="reviews swiper">
      <div class="swiper-wrapper">
        <div class="reviews__item">
          <div class="reviews__info">
            <div class="reviews__avatar">
              <img src="/src/assets/img/reviews/sophie.png" alt="">
            </div>
            <div class="reviews__name-date">
              <div class="reviews__name">Sophie</div>
              <div class="reviews__date">22/05/23</div>
              <div class="reviews__stars">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="reviews__content">
            <p>
              I had a wonderful experience shopping with Inakono. Their website offers a wide variety of plants and
              interior design items to choose from. The navigation was user-friendly, making it easy to find exactly
              what I was looking for. The ordering process was
              I had a wonderful experience shopping with Inakono. Their website offers a wide variety of plants and
              interior design items to choose from. The navigation was user-friendly, making it easy to find exactly
              what I was looking for. The ordering process was
            </p>
            <button data-show-all-review>More</button>
          </div>
        </div>
        <div class="reviews__item">
          <div class="reviews__info">
            <div class="reviews__avatar">
              <img src="/src/assets/img/reviews/alexander.png" alt="">
            </div>
            <div class="reviews__name-date">
              <div class="reviews__name">Alexander</div>
              <div class="reviews__date">22/05/23</div>
              <div class="reviews__stars">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="reviews__content">
            <p>
              I had a wonderful experience shopping with Inakono. Their website offers a wide variety of plants and interior design items to choose from. The navigation was user-friendly, making it easy to find exactly what I was looking for. I had a wonderful experience shopping with Inakono. Their website offers a wide variety of plants and interior design items to choose from. The navigation was user-friendly, making it easy to find exactly what I was looking for.
            </p>
            <button data-show-all-review>More</button>
          </div>
        </div>
        <div class="reviews__item">
          <div class="reviews__info">
            <div class="reviews__avatar">
              <img src="/src/assets/img/reviews/sophie.png" alt="">
            </div>
            <div class="reviews__name-date">
              <div class="reviews__name">Sophie</div>
              <div class="reviews__date">22/05/23</div>
              <div class="reviews__stars">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="reviews__content">
            <p>
              I had a wonderful experience shopping with Inakono. Their website offers a wide variety of plants and
              interior design items to choose from. The navigation was user-friendly, making it easy to find exactly
              what I was looking for. The ordering process was
              I had a wonderful experience shopping with Inakono. Their website offers a wide variety of plants and
              interior design items to choose from. The navigation was user-friendly, making it easy to find exactly
              what I was looking for. The ordering process was
            </p>
            <button data-show-all-review>More</button>
          </div>
        </div>
        <div class="reviews__item">
          <div class="reviews__info">
            <div class="reviews__avatar">
              <img src="/src/assets/img/reviews/alexander.png" alt="">
            </div>
            <div class="reviews__name-date">
              <div class="reviews__name">Alexander</div>
              <div class="reviews__date">22/05/23</div>
              <div class="reviews__stars">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#161616"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="reviews__content">
            <p>
              I had a wonderful experience shopping with Inakono. Their website offers a wide variety of plants and interior design items to choose from. The navigation was user-friendly, making it easy to find exactly what I was looking for. I had a wonderful experience shopping with Inakono. Their website offers a wide variety of plants and interior design items to choose from. The navigation was user-friendly, making it easy to find exactly what I was looking for.
            </p>
            <button data-show-all-review>More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>