<section class="wrapper-highlight">
  <div class="container">
    <div class="subscribe-wrapper">
      <div class="section-header section-header--centered">
        <div>
          <h2>Abonnez-vous à notre newsletter</h2>
          <p>Suivez les nouveaux arrivants et obtenez des réductions personnelles</p>
        </div>
      </div>
      <form class="subscribe" action="">
        <input type="text" class="main-input" placeholder="Email" name="subscription">
        <button class="btn btn-flat btn-flat--main">s'abonner</button>
      </form>
    </div>
  </div>
</section>