@mixin font-setting {
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
}

@mixin text-light {
  @include font-setting;
  font-weight: 300;
}

@mixin text-regular {
  @include font-setting;
  font-weight: 400;
}

@mixin text-medium {
  @include font-setting;
  font-weight: 500;
}

@mixin text-semi-bold {
  @include font-setting;
  font-weight: 600;
}

@mixin text-bold {
  @include font-setting;
  font-weight: 700;
}

// Seo Headings
@mixin seo-heading {
  font-family: Iskry, "san-serif", "serif";
}

@mixin seo-heading-1-mb {
  @include seo-heading;
  @include text-regular;
  font-size: mobile(38);
  line-height: mobile(41.8);
  letter-spacing: -2%;
}

@mixin seo-heading-1-tb {
  @include text-regular;
  @include seo-heading;
  font-size: tablet(76);
  line-height: tablet(82);
}

@mixin seo-heading-1-dp {
  @include text-regular;
  @include seo-heading;
  font-size: desktop(76);
  line-height: desktop(82);
}

@mixin seo-heading-2-mb {
  @include text-regular;
  @include seo-heading;
  font-size: mobile(32);
  line-height: mobile(35.2);
  letter-spacing: -2%;
}

@mixin seo-heading-2-tb {
  @include text-regular;
  @include seo-heading;
  font-size: tablet(48);
  line-height: tablet(62);
}

@mixin seo-heading-2-dp {
  @include text-regular;
  @include seo-heading;
  font-size: desktop(48);
  line-height: desktop(62);
}

@mixin seo-heading-3-mb {
  @include text-regular;
  @include seo-heading;
  font-size: mobile(26);
  line-height: mobile(28.6);
  letter-spacing: -2%;
}

@mixin seo-heading-3-tb {
  @include text-regular;
  @include seo-heading;
  font-size: tablet(36);
  line-height: tablet(48);
}

@mixin seo-heading-3-dp {
  @include text-regular;
  @include seo-heading;
  font-size: desktop(36);
  line-height: desktop(48);
}

@mixin mobile-h3 {
  @include text-semi-bold;
  font-size: mobile(24);
  line-height: desktop(28.8);
}

// Headings
@mixin heading-56-mb {
  font-size: mobile(56);
  line-height: mobile(72);
  @include text-medium;
}

@mixin heading-56-tb {
  font-size: tablet(56);
  line-height: tablet(72);
  @include text-medium;
}

@mixin heading-56-dp {
  font-size: desktop(56);
  line-height: desktop(72);
  @include text-medium;
}


@mixin mobile-text {
  @include text-regular;
  font-size: mobile(16);
  line-height: mobile(20.8);
  letter-spacing: -2%;
}

@mixin r-14-mb {
  @include text-regular;
  font-size: mobile(14);
  line-height: mobile(20);
}

@mixin r-14-tb {
  @include text-regular;
  font-size: tablet(14);
  line-height: tablet(20);
}

@mixin r-14-dp {
  @include text-regular;
  font-size: desktop(14);
  line-height: desktop(20);
}

@mixin r-16-mb {
  @include text-regular;
  font-size: mobile(16);
  line-height: mobile(24);
}

@mixin r-16-tb {
  @include text-regular;
  font-size: tablet(16);
  line-height: tablet(24);
}

@mixin r-16-dp {
  @include text-regular;
  font-size: desktop(16);
  line-height: desktop(24);
}

@mixin r-18-mb {
  @include text-regular;
  font-size: mobile(18);
  line-height: mobile(28);
}

@mixin r-18-tb {
  @include text-regular;
  font-size: tablet(18);
  line-height: tablet(28);
}

@mixin r-18-dp {
  @include text-regular;
  font-size: desktop(18);
  line-height: desktop(28);
}

@mixin r-20-mb {
  @include text-regular;
  font-size: mobile(20);
  line-height: mobile(30);
}

@mixin r-20-tb {
  @include text-regular;
  font-size: tablet(20);
  line-height: tablet(30);
}

@mixin r-20-dp {
  @include text-regular;
  font-size: desktop(20);
  line-height: desktop(30);
}

@mixin r-24-mb {
  @include text-regular;
  font-size: mobile(24);
  line-height: mobile(36);
}

@mixin r-24-tb {
  @include text-regular;
  font-size: tablet(24);
  line-height: tablet(36);
}

@mixin r-24-dp {
  @include text-regular;
  font-size: desktop(24);
  line-height: desktop(36);
}
@mixin r-28-mb {
  @include text-regular;
  font-size: mobile(28);
  line-height: mobile(38);
}

@mixin r-28-tb {
  @include text-regular;
  font-size: tablet(28);
  line-height: tablet(38);
}

@mixin r-28-dp {
  @include text-regular;
  font-size: desktop(28);
  line-height: desktop(38);
}

@mixin m-18-mb {
  @include text-medium;
  font-size: mobile(18);
  line-height: mobile(28);
}

@mixin m-18-tb {
  @include text-medium;
  font-size: tablet(18);
  line-height: tablet(28);
}

@mixin m-18-dp {
  @include text-medium;
  font-size: desktop(18);
  line-height: desktop(28);
}

@mixin m-20-mb {
  @include text-medium;
  font-size: mobile(20);
  line-height: mobile(30);
}

@mixin m-20-tb {
  @include text-medium;
  font-size: tablet(20);
  line-height: tablet(30);
}

@mixin m-20-dp {
  @include text-medium;
  font-size: desktop(20);
  line-height: desktop(30);
}