//*** Colors ** //
:root {
  --black: #1D1D1D;
  --white: #FFFFFF;
  --main-red: #FF0043;
  --g-10: #E8E8E8;
  --g-50: #8E8E8E;
}

// Other
:root {
  --seek-before-width: 0%;
  --volume-before-width: 100%;
  --doc-height: 100%;
}

// *** Rules for elastic viewport *** //
// 1 vw on mobile  = 414 / 100  = $mobile(1rem)
// 1 vw on desktop  = 1536 / 100  = $desktop(1rem)
// More than 2560px  = 1rem or 16px
$mobile: 4.14;
$desktop: 15.36;
$mobile_media: 414px;
$desktop_media: 768px;
$desktop_media_static: 1536px;
